
@{
    ViewBag.Title = "CompareDieSortedMapFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .highcharts-container {
        height: 460px !important;
    }

    .v-box {
        height: 460px !important;
    }
</style>

<script type="text/javascript" src="~/Scripts/diesort.js"></script>
<script type="text/javascript">
        $(function(){
            DIESORT.COMPAREINIT();
        })
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <div class="col-xs-2">
                        <label class="form-control">Map File</label>
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="mapfile" name="mapfile" placeholder="Map File" readonly="readonly">
                    </div>
                    <div class="col-xs-1 box-search" style="padding-left:0">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="查看">
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-xs-2">
                        <label class="form-control">VCSEL INFO</label>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" id="bompn" name="bompn" readonly="readonly">
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" id="bomarray" name="bomarray" readonly="readonly">
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="bomdesc" name="bomdesc" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="v-content">
            </div>
        </div>
    </div>
</div>



