
@{
    ViewBag.Title = "ReviewDieSortedMapFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .highcharts-container {
        height:920px!important;
    }
    .v-box {
        height: 920px!important;
    }
    th.dt-center, td.dt-center { text-align: center; }
</style>

<script type="text/javascript" src="~/Scripts/diesort.js"></script>
<script type="text/javascript">
        $(function(){
            DIESORT.REVIEWINIT();
        })
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <div class="col-xs-2">
                        <label class="form-control">Map File</label>
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="mapfile" name="mapfile" placeholder="Map File" readonly="readonly">
                    </div>
                    <div class="col-xs-1 box-search" style="padding-left:0">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Review">
                    </div>
                    <div class="col-xs-2 box-search" style="padding-left:0">
                        <input type="button" class="btn btn-danger" name="btn-reconstruct" id="btn-reconstruct" value="Re-Construct">
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-xs-2">
                        <label class="form-control">VCSEL INFO</label>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" id="bompn" name="bompn"  readonly="readonly">
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" id="bomarray" name="bomarray" readonly="readonly">
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="bomdesc" name="bomdesc" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="v-content">
            </div>
            <div style="margin-top:20px">
                <table class="table table-hover  table-condensed table-striped" id="wafertable" style="margin-top:1%">
                    <caption class="tb-caption">WUXI WAFER SAMPLE DATA</caption>
                    <thead id="waferhead"></thead>
                    <tbody id="wafercontent"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmdlg" tabindex="-1" role="dialog" style="margin-top:2%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Re-Construct Confirm</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10"><h5>Do you really want to re-construct this file? Your action will be recorded!</h5></div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"><label class="form-control">PassWord</label></div>
                    <div class="col-sm-6"><input class="form-control" type="password" id="cfmpwd" name="cfmpwd"/></div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"><label class="form-control">ReConstruct-Type</label></div>
                    <div class="col-sm-6">
                        <select class="form-control" id="constructtype" name="constructtype">
                            <option value="R" selected>Re-Construct</option>
                            <option value="S">Supplementary</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"><label class="form-control">Wafer-PN(optional)</label></div>
                    <div class="col-sm-6"><input class="form-control" type="text" id="cmf-pn" name="cmf-pn" /></div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-cmf" name="btn-cmf">Confirm</button>
                <button type="button" class="btn btn-danger" id="btn-al-cancel" name="btn-al-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>