
@{
    ViewBag.Title = "WaferQUAL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/waferqual.js"></script>
<script type="text/javascript">
        $(function(){
            WAFERQUAL.init();
        })
</script>

<style type="text/css">
 .viewallencomment, .addallencomment  {
        cursor:pointer;
    }

    .smallth {
        padding: 10px 8px!important;
    }

    .smalltd {
        padding: 8px 5px!important;
    }

    th.dt-center, td.dt-center { text-align: center; }

    #modifycomment {
        cursor:pointer;
        float:right;
        color:#00539f!important;
    }

    .btn-waferreport, .allenrawdataicon {
        cursor:pointer;
        color:#00539f!important;
    }

</style>

<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <label class="col-xs-2">Date Period</label>
                    <div class="col-xs-3">
                        <div class="input-group date" data-date=""
                             data-date-format="yyyy-mm">
                            <input type="text" class="form-control"
                                   id="sdate" name="sdate" value="" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-1 text-center">~</div>
                    <div class="col-xs-3">
                        <div class="input-group date" data-date=""
                             data-date-format="yyyy-mm">
                            <input type="text" class="form-control"
                                   id="edate" name="edate" value="" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-1 box-search">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search">
                    </div>
                </div>
            </div>
            <div class="v-content">
                <table class="table table-hover  table-condensed table-striped" id="wafertable" style="margin-top:1%">
                    <caption class="tb-caption">WAFER QUAL</caption>
                    <thead id="waferhead"></thead>
                    <tbody id="wafercontent"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wxwaferreport" tabindex="-1" role="dialog" style="margin-top:2%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="glyphicon glyphicon-pencil hidden" id="modifycomment" name="modifycomment" myid="" aria-hidden="true"></span>
                <h4 class="modal-title">Wafer Analyze</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="display:inline-block">Report</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row" id="rc-info" style="padding-left:10px;padding-right:10px;">Report</div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-6">
                                    Reporter: <span id="rc-reporter">System</span>
                                </div>
                                <div class="col-xs-3">
                                    <span id="rc-datetime">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-wf-cancel" name="btn-wf-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allenrawdatamd" tabindex="-1" role="dialog" style="margin-top:2%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ALLEN RAW DATA</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover  table-condensed table-striped" id="allentable" style="margin-top:1%">
                    <caption class="tb-caption">ALLEN RAW DATA</caption>
                    <thead id="allenhead"></thead>
                    <tbody id="allencontent"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-al-cancel" name="btn-al-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allencommenteditor" tabindex="-1" role="dialog" style="margin-top:2%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ALLEN Comment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="form-group">
                            <div>
                                <textarea name="editor1" id="editor1" rows="8" cols="80"></textarea>
                                <script>
                                    CKEDITOR.replace('editor1', { htmlEncodeOutput: true, skin: 'moono-lisa' });
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-2">
                                        <span class="btn btn-success btn-file" id="choosefile6">
                                            Editor Attachment <input type="file" name="file6" id="file6" runat="server" onchange="ajaxFileUpload()" />
                                        </span>
                                    </div>
                                    <div class="col-xs-10"></div>
                                </div>
                                <script type="text/javascript">
                                    function ajaxFileUpload() {
                                        $.ajaxFileUpload
                                        (
                                            {
                                                url: '/userfiles/ImageUpload.ashx',
                                                secureuri: false,
                                                fileElementId: 'file6',
                                                dataType: 'HTML',
                                                success: function (data, status) {
                                                    var wholeval = CKEDITOR.instances.editor1.getData() + data;
                                                    CKEDITOR.instances.editor1.setData(wholeval);
                                                },
                                                error: function (e) {
                                                    alert(e);
                                                }
                                            }
                                        )
                                        return false;
                                    }
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="allencmsubmit" name="allencmsubmit" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <input class="form-control text-box single-line" value="" id="HWafer" name="HWafer" type="hidden" />
    </div>
</div>