
@{
    ViewBag.Title = "WUXIWATPvsP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .highcharts-container {
        height: 610px !important;

    }

    .v-box {
        height: 610px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

</style>

<script type="text/javascript" src="~/Scripts/highcharts/annotations.js"></script>

<script type="text/javascript" src="~/Scripts/WATLogic.js"></script>
<script type="text/javascript">
        $(function(){
            WATLOGIC.WUXIWATPVP();
        })
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <div class="col-xs-1">
                        <label class="label label-default" style="height:2em">WAFER</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" data-provide="typeahead"
                               id="wafers" name="wafers" autocomplete="off" readonly="readonly">
                    </div>
                    <div class="col-xs-2" style="padding-left:0">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" style="margin-left:40px;" data-toggle="tooltip" title="Show WUXI WAT Data with Param vs Param" value="Search Data">
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-xs-1">
                        <label class="label label-default" style="height:2em">X-PARAM</label>
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="xparam" name="xparam" readonly="readonly">
                    </div>
                    <div class="col-xs-1">
                        <label class="label label-default" style="height:2em">Y-PARAM</label>
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="yparam" name="yparam" readonly="readonly">
                    </div>
                    <div class="col-xs-1">
                        <label class="label label-default" style="height:2em">RP</label>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control" id="rplist" name="rplist">
                            <option value="RP00">RP00</option>
                            <option value="RP01">RP01</option>
                            <option value="RP02">RP02</option>
                            <option value="RP03" selected>RP03</option>
                            <option value="RP04">RP04</option>
                            <option value="RP05">RP05</option>
                        </select>
                    </div>
                </div>
                <input class="form-control hide" type="text" id="hxparam" name="hxparam" value="@ViewBag.xparam">
                <input class="form-control hide" type="text" id="hyparam" name="hyparam" value="@ViewBag.yparam">
                <input class="form-control hide" type="text" id="hwafer" name="hwafer" value="@ViewBag.wafer">
                <input class="form-control hide" type="text" id="hrp" name="hrp" value="@ViewBag.rp">
            </div>
            <div class="v-content" id="chartdiv" name="chartdiv">
            </div>
        </div>
    </div>
</div>

