
@{
    ViewBag.Title = "SampleCheckWithOCR";
    Layout = "~/Views/Shared/_Layout4Product.cshtml";
}


<style type="text/css">
    th.dt-center, td.dt-center {
        text-align: center;
    }
</style>

<script type="text/javascript" src="~/Scripts/mapfilewithocr.js"></script>
<script type="text/javascript">
        $(function(){
            MAPOCR.samplediecheck();
        })
</script>

<style type="text/css">
    .CFD3 {
        background-color: lightsalmon !important;
    }
</style>

<div class="row form-group">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h1>WAT OCR APP</h1></div>
    <div class="col-xs-4"></div>
</div>

<div class="row form-group">
    <div class="col-xs-1"></div>
    <div class="col-xs-2"><input class="form-control" type="text" value="Wafer Number" readonly></div>
    <div class="col-xs-3"><input class="form-control" type="text" id="wafernum" name="wafernum" readonly></div>
    <div class="col-xs-2"><input class="form-control" type="text" value="OCR LOT" readonly></div>
    <div class="col-xs-3"><input class="form-control" type="text" id="lotnum" name="lotnum" readonly></div>
    <div class="col-xs-1"><button class="btn btn-success" id="btn-check" name="btn-check">Check</button></div>
</div>

<div class="row form-group">
    <div style="margin-top:20px">
        <table class="table table-hover  table-condensed table-striped" id="wafertable" style="margin-top:1%">
            <caption class="tb-caption">WAFER TYPE(UNSORTED/SORTED) CHECK</caption>
            <thead id="waferhead">
                <tr>
                    <th>Wafer</th>
                    <th>OCR-Img</th>
                    <th>OCR-X</th>
                    <th>OCR-Y</th>
                    <th>MATCH SAMPLE</th>
                </tr>
            </thead>
            <tbody id="wafercontent"></tbody>
        </table>
    </div>
</div>

